@font-face {
    font-family:Gilroy-ExtraBold;
    src: url(../../resources/font/Gilroy-ExtraBold.woff);
}

.product {
    height:70vh;
    display:grid;
    height:500px;
    grid-template-rows:70% 40%;
    width:500px;
    border-radius:20px;
    justify-content:center;
    align-items:center;
}

.productContainer {
    width:500px;
}


.product img { 
    height:30vh;
    width:auto;
    margin-top:8vh;
}


h2 {
    color:white;
    font-family:Gilroy-ExtraBold;
    align-self:end;
}

.addToBtn {
    height:50%;
    color:white;
    background-color:#FF764A;
    border-radius:5px;
    padding: 0;
    border: none;
}